.vs/

/backend/Immunilog.Repositories/obj/
/backend/Immunilog.Repositories/bin/

/backend/Immunilog.UI/obj/
/backend/Immunilog.UI/bin/
/backend/Immunilog.UI/log/

/backend/Immunilog.Services/obj/
/backend/Immunilog.Services/bin/

/backend/Immunilog.Domain/obj/
/backend/Immunilog.Domain/bin/

/backend/Immunilog.Tests/obj/
/backend/Immunilog.Tests/bin/

/backend/.vs/
/frontend/.env/

/backend/Immunilog.Tests/coverage-report
.env

.sonarqube/
